* {
  background-color: #111;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

main {
  text-align: center;
  width: 100%;
  color: rgba(255, 255, 255, 0.753);
}

.user-name {
  font-size: 80px;
  color: white;
}

.aux-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

.user-img-container {
  display: flex;
  align-items: center;
}

img {
  border-radius: 10px;
  margin: 5px;
}

.input-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.img-options {
  display: none;
}

.btn {
  cursor: pointer;
  padding: 10px;
  font-size: 25px;
  width: 200px;
  margin-top: 30px;
  background-color: red;
  color: white;
  font-weight: bolder;
  border: 2px outset rgba(250, 248, 248, 0.596);
  border-radius: 10px;
}

.btn-img {
  cursor: pointer;
  font-weight: bolder;
  color: white;
  border-radius: 10px;
  height: 30px;
  border-radius: 8px;
}

.option:hover {
  transform: scale(1.11);
  box-shadow: 1px 7px 15px 0 rgb(255, 255, 255);
}

.label-btn:hover {
  box-shadow: 0 6px 10px 0 rgba(250, 250, 250, 0.384);
}

.option {
  cursor: pointer;
  max-height: 250px;
  transition: transform 450ms;
}

input {
  width: 250px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.945);
  border: none;
  color: rgb(29, 28, 28);
  text-align: center;
  text-align: center;
}

.input-name {
  font-size: 15px;
  font-weight: bold;
}